:root {
  --bg-main: #f4f6f8;        
  --sage: #7aa78c;           
  --sage-dark: #5f8f73;
  --royal: #1f4fa3;          
  --text-dark: #1e1e1e;
}

body {
  background-color: var(--bg-main);
  font-family: "Segoe UI", sans-serif;
  color: var(--text-dark);
}

a {
  text-decoration: none;
}